body {
    background-color: #e5e5e5;
    color: #fff;
    margin: 0px;
}

header{
    color: #232323;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0.5rem 3rem #000;
    height: 78px;
}

main {
    padding-top: 30px;
}

ul {
    align-items: center;
}

li {
    display: inline-block;
    margin: 20px;
}

li:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.amenu {
    color: #fca311;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s all;
    text-decoration: none;
}

.amenu:hover {
    color: #14213d;
    transition: 0.5s all;
    border-bottom: solid 3px #14213d;
    border-radius: 3px;
    transition: border-bottom 0s;
}

.menu {
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100px;
}

.pushbig {
    justify-content: center;
    transition: 0.5s;
}

.pushbig:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.caixaglobal {
    max-width: 1200px;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.chamar {
    color: #14213d;
    border: solid 1px #14213d;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background-color: #fca311;
    transition: 0.5s;
}

.chamar:hover {
    color: #fca311;
    border: solid 1px;
    border-radius: 8px;
    padding: 8px;
    background-color: #14213d;
    border-color: #fca311;
    transform: scale(1.2);
    transition: 0.5s;
}

.transformheader {
    color: #232323;
    padding: 20px;
    background: #fff;
}

.topobanner {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardsinicial {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secaodireita {
    background-color: bisque;
    height: 50px;
}

.secao02 {
    display: flex;
    flex-direction: row;
}

.esquerdasec02 {
    color: #232323;
    border: solid 2px;
    border-radius: 8px;
    background-color: beige;
}

.direitasec02 {
    color: #232323;
    background-color: aqua;
}

.linhasecao02 {
    margin: 10px;
}

.stylenome {
    color: aquamarine;
}